<div class="row">
  <div class="col-xs-12">
    <img
      src="{{ recipe.imagePath }}"
      class="img-responsie"
      width="400"
      height="350"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" appDropDown>
        Manage recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a
            class="dropdown-item"
            style="cursor: pointer"
            (click)="onAddShoppingList()"
          >
            to shopping list
          </a>
        </li>
        <li>
          <a
            style="cursor: pointer"
            class="dropdown-item"
            (click)="onEditRecipe()"
          >
            Edit Recipe
          </a>
        </li>
        <li>
          <a
            style="cursor: pointer"
            class="dropdown-item"
            (click)="onDeleteRecipe()"
          >
            Delete Recipe
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">{{ recipe.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ing of recipe.ingredients">
        {{ ing.name }} - ({{ ing.amount }})
      </li>
    </ul>
  </div>
</div>
